<style lang="less">
    .container{
        width: 900px;
        min-height: 500px;
        margin: 50px auto;
        .ivu-col{
            color: #fff;
            padding: 10px 0;
            text-align: left;
        }     
    }
    .demo-wrap{
        border: 10px solid #e5e5e5;
        padding: 20px;
        margin-top: 30px;
    }
    
    .demo-list{
        margin-bottom: 30px;
        .demo-item{
            padding: 6px;
        }
        .demo-link{
            padding: 2px;
            color: #333;
            font-size: 18px;
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
            display: inline-block;
            width: 100%;
            height: 100%;
            &:hover{
                border-color: #bbb;
            }
        }
    }
    .demo-link-active .demo-link{
        color: #000;
    }

</style>
<template>
    <div class="container">
        <Row>
            <Col span="6" v-for="(value, index) in demos" :key="index"  :class="currentRouteClass(value.route)">
                <router-link :to="value.route" class="demo-link">
                    {{(index + 1)}}、 {{ value.name }}
                </router-link>                
            </Col>
        </Row>        

        <div class="demo-wrap">
            <router-view></router-view>
        </div>
        
    </div>
</template>
<script>
    export default {
        data: function() {
            return {
                demos: [
                    {
                        name: '提示-Alert',
                        route: '/alert'
                    },
                    {
                        name: '栅格-Grid',
                        route: '/grid'
                    },
                    {
                        name: '固定位置-Affix',
                        route: '/affix'
                    },
                    {
                        name: '按钮-Button',
                        route: '/button'
                    },
                    {
                        name: '返回顶部-BackTop',
                        route: '/backTop'
                    },
                    {
                        name: '徽标数-Badge',
                        route: '/badge'
                    },
                    {
                        name: '面包屑-breadcrumb',
                        route: '/breadcrumb'
                    },
                    {
                        name: '卡片-card',
                        route: '/card'
                    },
                    {
                        name: '提示-Message',
                        route: '/message'
                    },
                    {
                        name: '多选框-Checkbox',
                        route: '/checkbox'
                    },
                    {
                        name: '单选框-Radio',
                        route: '/radio'
                    },
                    {
                        name: '输入框-Input',
                        route: '/input'
                    },
                    {
                        name: '开关-Switch',
                        route: '/switch'
                    },
                    {
                        name: '选择器-Select',
                        route: '/select'
                    }
                ]
            }
        },
        components: {
            
        },
        computed: {
            classes() {
                return {

                }
            }
        },
        mounted: function() {
            // console.log()
        },
        beforeDestroy: function() {

        },
        methods: {
            currentRouteClass(route){
                return  {
                    ['demo-link-active']:  this.$route.path === route
                }
            }
        }
    }
</script>
