<template>
    <div :class="classes" :style="styles" @click="back">
        <slot>
            <div :class="innerClasses">
                <i class="ivu-icon ivu-icon-chevron-up"></i>
            </div>
        </slot>
    </div>
</template>

<script>
    import { scrollTop } from '../../utils/assist.js'
	const prefixCls = 'ivu-back-top'
	export default{
		name: 'backTop',
		props: {
			// 页面滚动高度达到该值时才显示组件
			height: {
				type: Number,
				default: 400
			},
			// 组件距离底部的距离
			bottom: {
				type: Number,
				default: 30
			},
			// 组件距离右部的距离
			right: {
                type: Number,
                default: 30
            },
            // 滚动动画持续时间, 单位毫秒
            duration: {
                type: Number,
                default: 1000
            }
		},
		data() {
			return {
				backTop: false
			}
		},
		mounted(){
			window.addEventListener('scroll', this.handleScroll, false);
			window.addEventListener('resize', this.handleScroll, false);
		},
		// 在开始销毁实例时调用
		beforeDestroy () {
            window.removeEventListener('scroll', this.handleScroll, false);
            window.removeEventListener('resize', this.handleScroll, false);
        },
        methods: {
        	handleScroll(){
                console.log(window.pageYOffset)
        		this.backTop =  window.pageYOffset >= this.height;
        	},
        	back() {
                const sTop = document.documentElement.scrollTop || document.body.scrollTop;
                scrollTop(window, sTop, 0, this.duration)
        	}
        },
        computed: {
        	classes() {
        		return [
        			`${prefixCls}`,
        			{
        				[`${prefixCls}-show`]: this.backTop
        			}
        		]
        	},
        	styles() {
        		return {
        			bottom: `${this.bottom}px`,
        			right: `${this.right}px`
        		}
        	},
        	innerClasses(){
        		return `${prefixCls}-inner`
        	}
        }
	}
</script>