<template>
    <div :class="classes">
        <div :class="headclasses" v-if="showHead"><slot name="title"></slot></div>
        <div :class="extraClasses" v-if="showExtra"><slot name="extra"></slot></div>
        <div :class="bodyClasses" :style="bodyStyles"><slot></slot></div>
    </div>
</template>

<script>
    const prefixCls = 'ivu-card';
    const defaultPadding = 16;
    // 如果没有填slot分发，默认卡片主体内容
    // extra 额外显示的内容，默认位置在右上角
    // title 自定义卡片标题，如果是简单文字，可以使用<p>标签包裹
    export default {
        name: 'card',
        data(){
            return {
                showHead: true,
                showExtra: true
            }
        },
        props: {
            // 是否显示边框
            bordered: {
                type: Boolean,
                default: true
            },
            // 禁用鼠标悬停显示阴影
            disHover: {
                type: Boolean,
                default: false
            },
            // 卡片阴影
            shadow: {
                type: Boolean,
                default: false
            },
            // 卡片内部间距，单位 px
            padding: {
                type: Number,
                default: defaultPadding
            }
        },
        computed: {
            classes() {
                return [
                    `${prefixCls}`,
                    {
                        [`${prefixCls}-bordered`]: this.bordered && !this.shadow,
                        [`${prefixCls}-dis-hover`]: this.disHover || this.shadow,
                        [`${prefixCls}-shadow`]: this.shadow
                    }
                ]
            },
            headclasses() {
                return `${prefixCls}-head`;
            },
            extraClasses() {
                return `${prefixCls}-extra`;
            },
            bodyClasses() {
                return `${prefixCls}-body`;
            },
            bodyStyles() {
                if (this.padding !== this.defaultPadding) {
                    return {
                        padding: `${this.padding}px`
                    }
                } else {
                    return '';
                }
            }
        },
        mounted() {
            this.showHead = this.$slots.title !== undefined;
            this.showExtra = this.$slots.extra !== undefined;
        }
    }
</script>