<template>
	<transition name="fade">
		<div v-if="!closed" :class="wrapClasses">
			<span :class="iconClasses" v-if="showIcon">
				<slot name="icon">
					<Icon :type="iconType"></Icon>
				</slot>		
			</span>
			<span :class="messageClasses">
				<slot></slot>
			</span>
			<span :class="descClasses">
				<slot name="desc">
				</slot>	
			</span>
			<a :class="closeClasses" v-if="closable"
				@click="close">
				<slot name="close">
					x
				</slot>
			</a>
		</div>
	</transition>
</template>

<script>
	import Icon from '../Icon'
	import { oneOf } from '../../utils/assist.js'
	const prefixCls = 'ivu-alert'
	export default {
		name: 'Alert',
		components: { Icon },
		props: {
			showIcon: {
				type: Boolean,
				default: false
			},
			closable: {
				type: Boolean,
				default: false
			},
			type: {
				validator(value) {
					return oneOf(value, ['success', 'info', 'warning', 'error'])
				},
				default: 'info'
			},
			banner: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				closed: false,
				desc: false
			}
		},
		computed: {
			messageClasses() {
				return `${prefixCls}-message`
			},
			iconClasses() {
				return `${prefixCls}-icon`
			},
			wrapClasses() {
				return [
					`${prefixCls}`,
					`${prefixCls}-${this.type}`,
					{
						[`${prefixCls}-with-icon`]: this.showIcon,
						[`${prefixCls}-with-desc`]: this.desc,
						[`${prefixCls}-with-banner`]: this.banner
					}
				]
			},
			descClasses() {
				return `${prefixCls}-desc`;
			},
			closeClasses () {
                return `${prefixCls}-close`;
            },
            iconType() {
            	let type = ''
            	switch (this.type) {
            		case 'success':
            			type = 'checkmark-circled';
            			break
            		case 'info':
            			type = 'information-circled';
            			break
            		case 'warning':
            			type = 'android-alert';
            			break;
            		case 'error': 
            			type = 'close-circled';
            			break;		
            	}
            	return type;
            }
		},
		methods: {
			close(e) {
				this.closed = true;
				// 冒泡事件
				this.$emit('on-close', e)
			}
		},
		mounted() {
			// console.log(this.$slots)
			this.desc = typeof (this.$slots.desc) !== 'undefined'
		}
	}
</script>
<style lang="less">
	
</style>