<style>
    body{
        /*height: 2000px;*/
    }
    .demo-affix{
        width: 100px;
        height: 30px;
        background: #f60;
        color: #fff
    }
</style>
<template>
	<div>	
			<Affix>
		        <span class="demo-affix">固定在最顶部</span>
		    </Affix>
		    <div style="height: 1200px;">
		    	
		    </div>
		    <Affix :offset-bottom="0">
		        <span class="demo-affix">固定在距离底部 0px 的位置</span>
		    </Affix>
	</div>
    

</template>
<script>
    export default {

    }
</script>
