<template>
	<div>
		<Alert>消息提示文案</Alert>
		<Alert type="success" show-icon>成功提示文案</Alert>
    	<Alert type="warning" show-icon>警告提示文案</Alert>
    	<Alert type="error" show-icon>错误提示文案</Alert>
		<Alert show-icon banner closable>消息提示文案</Alert>
		<Alert type="success">
	        成功提示文案
	        <span slot="desc">成功的提示描述文案成功的提示描述文案成功的提示描述文案成功的提示描述文案成功的提示描述文案</span>
	    </Alert>
	    <Alert type="warning" closable @on-close="closeAlert">
	        自定义关闭内容
	        <span slot="close">不再提示</span>
	    </Alert>
	
	</div>
</template>
<script>
	export default{
		components: {
			
		},
		methods: { 
			closeAlert() {
				alert('点击了关闭')
			}
		}
	}
</script>