<template>
	<div :style="styles">
		<back-top :height="200" :bottom="50">
			<div class="top">返回顶端</div>
		</back-top>

	</div>
</template>

<script>
	export default{
		data() {
			return {

			}
		},
		computed: {
			styles() {
				return {
					height: '1500px'
				}
			}
		}
	}
</script>

<style>
	 .top{
        padding: 10px;
        background: rgba(0, 153, 229, .7);
        color: #fff;
        text-align: center;
        border-radius: 2px;
    }
</style>