<template>
	<div>
		<Badge count="3">
	        <a href="#" class="demo-badge"></a>
	    </Badge>
	    <br><br>
	    <Badge dot>
	        <a href="#" class="demo-badge"></a>
	    </Badge>
	    <br><br>
	    <Badge dot>
	        <Icon type="ios-bell-outline" size="26"></Icon>
	    </Badge>
	    <br><br>
	    <Badge dot>
	        <a href="#">可以是一个链接</a>
	    </Badge>
	</div>
</template>	

<style scoped>
	 .demo-badge{
        width: 42px;
        height: 42px;
        background: #eee;
        border-radius: 6px;
        display: inline-block;
    }
</style>