
<template>
    <div>
        <h1>默认</h1>
        <Breadcrumb>
            <Breadcrumb-item href="/">Home</Breadcrumb-item>
            <Breadcrumb-item href="/affix">affix</Breadcrumb-item>
            <Breadcrumb-item>Breadcrumb</Breadcrumb-item>
        </Breadcrumb>
        <br></br>
        <h1>分隔符</h1>
        <Breadcrumb separator=">">
            <Breadcrumb-item href="/">Home</Breadcrumb-item>
            <Breadcrumb-item href="/alert">alert</Breadcrumb-item>
            <Breadcrumb-item>Breadcrumb</Breadcrumb-item>
        </Breadcrumb>
        <Breadcrumb separator="<b class='demo-breadcrumb-separator'>=></b>">
            <Breadcrumb-item href="/">Home</Breadcrumb-item>
            <Breadcrumb-item href="/grid">grid</Breadcrumb-item>
            <Breadcrumb-item>Breadcrumb</Breadcrumb-item>
        </Breadcrumb>
        <br><br>
        <h1>带图标</h1>
        <Breadcrumb>
        <Breadcrumb-item href="/">
            <Icon type="ios-home-outline"></Icon> Home
        </Breadcrumb-item>
        <Breadcrumb-item href="/button">
            <Icon type="social-buffer-outline"></Icon> button
        </Breadcrumb-item>
        <Breadcrumb-item>
            <Icon type="pound"></Icon> Breadcrumb
        </Breadcrumb-item>
    </Breadcrumb>
    </div>
</template>

<script>
    export default{

    }
</script>