<template>
	<div>
		<h1>基本使用</h1>
		<Button>Default</Button>
	    <Button type="primary">Primary</Button>
	    <Button type="ghost">Ghost</Button>
	    <Button type="dashed">Dashed</Button>
	    <Button type="text">Text</Button>
	    <br><br>
	    <Button type="info">信息按钮</Button>
	    <Button type="success">成功按钮</Button>
	    <Button type="warning">警告按钮</Button>
	    <Button type="error">错误按钮</Button>
	    <br><br>
	    <Button type="primary" shape="circle" icon="ios-search"></Button>
	    <Button type="primary" icon="ios-search">搜索</Button>
	    <Button type="primary" shape="circle" icon="ios-search">搜索</Button>
	    <Button type="primary" shape="circle">圆角按钮</Button>
		<br><br>
		<Button type="primary" size="large">Large</Button>
	    <Button type="primary">Default</Button>
	    <Button type="primary" size="small">Small</Button>
		<br><br>
		<Button type="success" long>确认提交</Button>
		<br><br>
		<Button disabled>Default(Disabled)</Button>
		<br></br>
		<Button type="primary" :loading="loading" @click="toLoading">
	        <span v-if="!loading">Click me!</span>
	        <span v-else>Loading...</span>
	    </Button>
	</div>
</template>

<script>
	export default{
		methods: {
			toLoading(){
				this.loading = true
			}
		},
		data() {
			return {
				loading: false
			}
		}
	}
</script>