<template>
    <div>
             <Card style="width:350px">
                <p slot="title">无边框标题</p>
            <p>无边框内容填充无边框内容填充无边框内容填充无边框内容填充无边框内容填充无边框内容填充无边框内容填充无边框内容填充无边框内容填充无边框内容填充无边框内容填充。</p>
            </Card>
            <div style="height:30px;">
            </div>
            <Card dis-hover>
                <p slot="title">禁用悬停阴影的卡片</p>
                <p>卡片内容</p>
                <p>卡片内容</p>
                <p>卡片内容</p>
            </Card>
            <div style="height:30px;">
            </div>
            <Card :bordered="false">
                <p slot="title">无边框卡片</p>
                <p>卡片内容</p>
                <p>卡片内容</p>
                <p>卡片内容</p>
            </Card>
            <div style="height:30px;">
            </div>
            <Card style="width:320px">
                <div style="text-align:center">
                    <h3>一套基于 Vue.js 的高质量UI组件库</h3>
                </div>
            </Card>
    </div>
</template>

<script>
    export default{
        data() {
            return {
                
            }    
        }
    }
</script>