<template>
    <div>
        <Checkbox v-model="single" @on-change="testChange">Checkbox</Checkbox>
       
        <Checkbox-group v-model="fruit">
            <Checkbox label="香蕉"></Checkbox>
            <Checkbox label="苹果"></Checkbox>
            <Checkbox label="西瓜"></Checkbox>
        </Checkbox-group>
    </div>
</template>
<script>
    export default {
        data () {
            return {
                single: true,
                fruit: ['西瓜']
            }
        },
        methods: {
            testChange(d) {
                console.log('当前checkbox选中状态', d)
            }
        }
    }
</script>