<template>
	<div class="demo">
		<Row>
	        <Col span="12">col-12</Col>
	        <Col span="12">col-12</Col>
	    </Row>
	    <div class="blank"></div>
	    <div class="gutter">
	    	<Row :gutter="16">
		        <Col span="6">
		            <div class="gutter-item">col-6</div>
		        </Col>
		        <Col span="6">
		            <div class="gutter-item">col-6</div>
		        </Col>
		        <Col span="6">
		            <div class="gutter-item">col-6</div>
		        </Col>
		        <Col span="6">
		            <div class="gutter-item">col-6</div>
		        </Col>
		    </Row>
	    </div>
	    <div class="blank"></div>
	    <Row>
	        <Col span="8">col-8</Col>
	        <Col span="8" offset="8">col-8 | offset-8</Col>
	    </Row>
	    <br>
	    <Row>
	        <Col span="6" offset="8">col-6 | offset-8</Col>
	        <Col span="6" offset="4">col-6 | offset-4</Col>
	    </Row>

		<div class="blank"></div>
		<p>子元素向左排列</p>
	    <Row type="flex" justify="start" class="code-row-bg">
	        <Col span="4">col-4</Col>
	        <Col span="4">col-4</Col>
	        <Col span="4">col-4</Col>
	        <Col span="4">col-4</Col>
	    </Row>

	    <div class="blank"></div>
	    <p>子元素向右排列</p>
	    <Row type="flex" justify="end" class="code-row-bg">
	        <Col span="4">col-4</Col>
	        <Col span="4">col-4</Col>
	        <Col span="4">col-4</Col>
	        <Col span="4">col-4</Col>
	    </Row>

	    <div class="blank"></div>
	    <p>子元素居中排列</p>
	    <Row type="flex" justify="center" class="code-row-bg">
	        <Col span="4">col-4</Col>
	        <Col span="4">col-4</Col>
	        <Col span="4">col-4</Col>
	        <Col span="4">col-4</Col>
	    </Row>

		<div class="blank"></div>
	    <p>子元素等宽排列</p>
	    <Row type="flex" justify="space-between" class="code-row-bg">
	        <Col span="4">col-4</Col>
	        <Col span="4">col-4</Col>
	        <Col span="4">col-4</Col>
	        <Col span="4">col-4</Col>
	    </Row>

	    <div class="blank"></div>
	    <p>子元素分散排列</p>
	    <Row type="flex" justify="space-around" class="code-row-bg">
	        <Col span="4">col-4</Col>
	        <Col span="4">col-4</Col>
	        <Col span="4">col-4</Col>
	        <Col span="4">col-4</Col>
	    </Row>
	
		<div class="blank"></div>
		<p>顶部对齐</p>
		<Row type="flex" justify="center" align="top" class="code-row-bg">
        <Col span="4"><p style="height: 80px">col-4</p></Col>
        <Col span="4"><p style="height: 30px">col-4</p></Col>
        <Col span="4"><p style="height: 100px">col-4</p></Col>
        <Col span="4"><p style="height: 60px">col-4</p></Col>
	    </Row>

	    <div class="blank"></div>
	    <p>底部对齐</p>
	    <Row type="flex" justify="center" align="bottom" class="code-row-bg">
	        <Col span="4"><p style="height: 80px">col-4</p></Col>
	        <Col span="4"><p style="height: 30px">col-4</p></Col>
	        <Col span="4"><p style="height: 100px">col-4</p></Col>
	        <Col span="4"><p style="height: 60px">col-4</p></Col>
	    </Row>

	    <div class="blank"></div>
	    <p>居中对齐</p>
	    <Row type="flex" justify="center" align="middle" class="code-row-bg">
	        <Col span="4"><p style="height: 80px">col-4</p></Col>
	        <Col span="4"><p style="height: 30px">col-4</p></Col>
	        <Col span="4"><p style="height: 100px">col-4</p></Col>
	        <Col span="4"><p style="height: 60px">col-4</p></Col>
	    </Row>

	</div>
</template>
<script>
	export default{
		data() {
			return {

			}
		}
	}
</script>
<style scoped>
	.demo .ivu-col{
		color: #fff;
		padding: 10px 0;
		text-align: center;
		background-color: rgba(0,153,229,.9);
	}
	.demo .ivu-col:nth-child(odd){
		background-color: rgba(0,153,229,.7);
	}
	.blank{
		height: 20px;
	}
	.gutter .ivu-col{
		background: transparent!important;
	}
	.gutter-item:nth-child(odd){
		padding: 10px 0;
		background-color: rgba(0,153,229,.7);
	}
</style>