<template>
    <div>
        <Input v-model="value" placeholder="请输入..." style="width: 300px"></Input>
        <br>
        <br>
        <Input v-model="value4" icon="ios-clock-outline" placeholder="请输入..." style="width: 200px"></Input>
        <br>
        <br>
        <Input v-model="value6" type="textarea" :rows="4" autosize placeholder="请输入..."></Input>
        <br>
        <br>
        <Input v-model="value5" type="textarea" placeholder="请输入..."></Input>
    </div>
</template>

<script>
    export default{
        data() {
            return {
                value: '',
                value4: 'hello',
                value6: '',
                value5: ''
            }
        }
    }
</script>