<template>
    <div>
        <Button type="primary" @click.native="info">普通使用</Button>
        <Button type="primary" @click.native="loading">加载中</Button>
    </div>
</template>
<script>
    export default {
        methods: {
            info () {
                this.$Message.info({
                    duration: 5,
                    content: '普通使用'
                });
            },
            loading () {
                const msg = this.$Message.loading({
                    content: '正在加载中...',
                    duration: 0
                });
                setTimeout(msg, 3000);
            }
        }
    }
</script>