<template>
    <div>
        <Radio-group v-model="animal">
            <Radio label="金斑蝶"></Radio>
            <Radio label="爪哇犀牛"></Radio>
            <Radio label="印度黑羚"></Radio>
        </Radio-group>
        <br> <br>
        <Radio-group v-model="animal2" vertical>
            <Radio label="金斑蝶"></Radio>
            <Radio label="爪哇犀牛"></Radio>
            <Radio label="印度黑羚"></Radio>
        </Radio-group>

        <br> <br>
        <Radio-group v-model="animal3" type="button">
            <Radio label="金斑蝶"></Radio>
            <Radio label="爪哇犀牛"></Radio>
            <Radio label="印度黑羚"></Radio>
        </Radio-group>
    </div>
</template>

<script>
    export default{
        data() {
            return {
                animal: '爪哇犀牛',
                animal2: '爪哇犀牛',
                animal3: '爪哇犀牛'
            }
        }
    }
</script>