<template>
    <div>
        <Select v-model="model1" style="width:200px" @on-change="change">
            <Option v-for="item in cityList" :value="item.value" :key="item">{{ item.label }}</Option>
        </Select>
  
        <Select v-model="model5" disabled style="width:200px">
            <Option v-for="item in cityList" :value="item.value" :key="item">{{ item.label }}</Option>
        </Select>
     
        <Select v-model="model6" style="width:200px">
            <Option value="beijing">北京市</Option>
            <Option value="shanghai" disabled>上海市</Option>
            <Option value="shenzhen">深圳市</Option>
        </Select>
    </div>
</template>

<script>
    export default{
        data() {
            return {
                cityList: [
                    {
                        value: 'beijing',
                        label: '北京市'
                    },
                    {
                        value: 'shanghai',
                        label: '上海市'
                    },
                    {
                        value: 'shenzhen',
                        label: '深圳市'
                    },
                    {
                        value: 'hangzhou',
                        label: '杭州市'
                    },
                    {
                        value: 'nanjing',
                        label: '南京市'
                    },
                    {
                        value: 'chongqing',
                        label: '重庆市'
                    }
                ],
                model1: '',
                model5: '',
                model6: ''
            }
        },
        methods: {
            change(v){
                this.$Message.info(v);
            }
        }
    }
</script>
